:host {
    ::ng-deep .responsive-dialog {
      width: 400px;
  
      @media screen and (max-width: 576px) {
        width: 100% !important;
      }
    }
  
    form {
      .p-field {
        margin-bottom: 1rem;
  
        label {
          font-weight: 600;
        }
  
        input {
          width: 100%;
        }
      }
    }
  }
  