<p-toast> </p-toast>
<p-dialog
  [header]="mode === 'edit' ? 'Edit Student' : 'Create Student'"

  [(visible)]="showCreateDialog"  
  [modal]="true"
  [closable]="false"
  [style]="{ width: '35vw' }"
>
  <form (ngSubmit)="saveStudent()" class="p-fluid">
    <div class="p-field">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        pInputText
        [(ngModel)]="newStudent.name"
        name="name"
        required
      />
    </div>

    <div class="p-field">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        pInputText
        [(ngModel)]="newStudent.email"
        name="email"
        required
      />
    </div>

    <div class="p-field">
      <label for="age">Age</label>
      <input
        id="age"
        type="number"
        pInputText
        [(ngModel)]="newStudent.age"
        name="age"
        required
      />
    </div>

    <div class="p-dialog-footer">
      <button pButton type="button" label="Cancel" class="p-button-text" (click)="cancel()"></button>
      <button pButton type="submit" label="Save" icon="pi pi-save"></button>
    </div>
  </form>
</p-dialog>
